/*
States

State-specific styles that customize the shape and behavior of the style structure.

Styleguide 3
*/

@import './theme/states/profile-cover.css';
@import './theme/states/profile-picture.css';
@import './theme/states/dashboard.css';
@import './theme/states/header.css';

/*
Description titles

Styleguide 3.3.1.1
*/
#description__titles {
  margin: 16px 0;
}
@media only screen and (max-width: 1279px) {
  #description__titles li h3 {
    font-size: 14px;
  }
}
/*
Badge box

Styleguide 3.3.1.2
*/
#badge__box {
  margin-top: 8px;
  margin-bottom: 16px;
}

/*
Feed

Styleguide 3.4
*/
#feed {
  /* margin-top: -200px; */
}
@media only screen and (max-width: 599px) {
  #feed {
    /* margin-top: 0px; */
    order: -1;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  #feed {
    /* margin-top: 0px; */
    order: -1;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  #feed {
    /* margin-top: -100px; */
  }
}
/*
Feed links

Styleguide 3.4.1
*/
/*
Feed works

Styleguide 3.4.2
*/
#feed__works div h2 {
  margin: 0 0 8px;
}
@media only screen and (max-width: 1279px) {
  #feed__works div h1 {
    font-size: 30px;
  }
  #feed__works div h2 {
    font-size: 20px;
  }
}
