/*
States

State-specific styles that customize the shape and behavior of the style structure.

Styleguide 3
*/

/*
Cover

Profile cover.

Styleguide 3.1
*/
/* #cover.cover > .cover__mask {
  height: 250px;
}
@media only screen and (max-width: 599px) and (max-height: 480px) {
  #cover.cover__mask {
    height: 180px;
  }
} */

@import './theme/states/header.css';
@import './theme/states/headline.css';

/*
Biography

Styleguide 3.4
*/
#bio {
  min-width: 420px;
  width: 420px;
  margin-top: -198px;
}
@media only screen and (max-width: 599px) {
  #bio {
    min-width: 0px;
    width: auto;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  #bio {
    min-width: 0px;
    width: auto;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  #bio {
    min-width: 420px;
    width: 420px;
    margin-top: -105px;
  }
}

/*
Biography description

Text with current position, biography text and coding skills.

Styleguide 3.3.1
*/
#bio__description {
  margin-top: 50px;
}
@media only screen and (max-width: 1279px) {
  #bio__description {
    margin-top: 0px;
  }
}
/*
Description titles

Styleguide 3.3.1.1
*/
#description__titles {
  margin: 16px 0;
}
@media only screen and (max-width: 1279px) {
  #description__titles li h3 {
    font-size: 14px;
  }
}
/*
Badge box

Styleguide 3.3.1.2
*/
#badge__box {
  margin-top: 8px;
  margin-bottom: 16px;
}

/*
Feed

Styleguide 3.4
*/
#feed {
  margin-top: -200px;
}
@media only screen and (max-width: 599px) {
  #feed {
    margin-top: 0px;
    order: -1;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  #feed {
    margin-top: 0px;
    order: -1;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  #feed {
    margin-top: -100px;
  }
}
/*
Feed links

Styleguide 3.4.1
*/
/*
Feed works

Styleguide 3.4.2
*/
#feed__works div h2 {
  margin: 0 0 8px;
}
@media only screen and (max-width: 1279px) {
  #feed__works div h1 {
    font-size: 30px;
  }
  #feed__works div h2 {
    font-size: 20px;
  }
}
