/*
Theme elements

Color variables and main applications

Styleguide 2.3
*/
@import './elements/dividers.css';
@import './elements/badge.css';
@import './elements/cover.css';

/*
Diamonds

The diamonds are the main elements of the portfolio.
They represent the main links for social networks and online tools for developers.
Besides this, the diamond is the shape of the profile picture.

.diamond--large  - Large size of the diamond.

Markup:
<div class="diamond"></div>

Styleguide 2.3.4
*/
.diamond {
  display: flex;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  margin: 0;
  transform: rotate(-45deg);
  z-index: 5;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  /* -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}
.diamond > svg {
  transform: rotate(45deg);
}
@media only screen and (max-width: 599px) {
  .diamond {
    height: 80px;
    width: 80px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1279px) {
  .diamond {
    height: 80px;
    width: 80px;
  }
}
/** Large diamond */
.diamond.diamond--large {
  display: flex;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 130px;
  width: 130px;
  margin: 0;
  transform: rotate(-45deg);
  z-index: 5;
}
@media only screen and (max-width: 1279px) {
  .diamond.diamond--large {
    height: 110px;
    width: 110px;
  }
}

/*
Diamond button

Markup:
<div class="diamond"></div>

Styleguide 2.3.4.1
*/
button.diamond {
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 7;
}
button.diamond > svg {
  transition: transform 0.2s ease-in-out;
}
button.diamond:not(:disabled):hover {
  border-style: solid;
  border-width: 2px;
}
button.diamond:not(:disabled):focus {
  border-style: solid;
  border-width: 2px;
}
button.diamond:not(:disabled):active,
button.diamond:not(:disabled).active {
  border-style: solid;
  border-width: 2px;
}
button.diamond:disabled {
  z-index: 0;
}
button.diamond:disabled {
  cursor: default;
}

/*
Picture

Picture shape.

Styleguide 2.3.4.2
*/
img.picture {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 165px;
  transform: rotate(45deg);
  z-index: 5;
}
@media only screen and (max-width: 1279px) {
  img.picture {
    height: 145px;
  }
}

/*
Headline

Markup:
<div class="headline stay--on-light">
  <h1>Rafael Goulart</h1>
  <h2>@faelplg</h2>
  <h3>Front End SW Engineer</h2>
</div>

Styleguide 2.3.5
*/
@media only screen and (max-width: 599px) {
  .headline {
    align-items: center;
    justify-content: center;
  }
}
/* @media only screen and (min-width: 600px) and (max-width: 899px) {
  .headline {
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  .headline {
    align-items: start;
    justify-content: start;
  }
} */

/*
List

Markup:
<ul class="list list--single">
  <li><h3>Front End Engineer</h3></li>
  <li><h3>Web Application Architect</h3></li>
  <li><h3>CTO at <a href="https://www.residuall.com/" target="_blank" aria-label="Residuall website" title="Residuall website.">Residuall</a></h3></li>
</ul>

Styleguide 2.3.6
*/
ul.list > li {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 8px 0;
}
ul.list > li > span {
  margin-right: 8px;
}
