/*
Cover

.cover--src    - Great Observatories Unique Views of the Milky Way. Credit to JPL, NASA/JPL-Caltech/ESA/CXC/STScI NASA/JPL-Caltech. [Image URL](https://images.nasa.gov/details-PIA12348.html).
.cover--src-01 - Jupiter Great Red Spot. Credit to JPL, NASA/JPL. [Image URL](https://images.nasa.gov/details-PIA01384.html).
.cover--src-02 - A Cauldron of Stars at the Galaxy Center. Credit to JPL, NASA/JPL-Caltech. [Image URL](https://images.nasa.gov/details-PIA03654.html).
.cover--src-03 - History of Hubble Space Telescope (HST). Credit to MSFC. [Image URL](https://images.nasa.gov/details-0302063.html).
.cover--src-04 - Comets Kick up Dust in Helix Nebula. Credit to JPL, NASA/JPL-Caltech/Univ.of Ariz. [Image URL](https://images.nasa.gov/details-PIA09178.html).

Markup:
<div class="box--shrink container container--raw cover {{modifier_class}}">
  <div class="box cover__mask"></div>
</div>

Styleguide 2.3.3
*/
.cover {
  background-size: 100% auto;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  /* background-position: center center; */
}
.cover.cover--src {
  background-image: url('../assets/cover_img.jpg');
}
.cover.cover--src-01 {
  background-image: url('../assets/cover_img_01.jpg');
}
.cover.cover--src-02 {
  background-image: url('../assets/cover_img_02.jpg');
}
.cover.cover--src-03 {
  background-image: url('../assets/cover_img_03.jpg');
}
.cover.cover--src-04 {
  background-image: url('../assets/cover_img_04.jpg');
}
.cover.cover--src-05 {
  background-image: url('../assets/cover_img_05.jpg');
}
.cover > .cover__mask {
  height: 120px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /** FIXME: Move to colors. */
  color: #FAFAFA;
  /** Gradient - bottom */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
}
@media only screen and (max-width: 599px) {
  .cover > .cover__mask {
    height: 100px;
    display: flex;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .cover > .cover__mask {
    height: 100px;
    display: flex;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  .cover > .cover__mask {
    height: 110px;
  }
}
@media only screen and (max-width: 1279px) {
  .cover {
    background-size: cover;
  }
}
