/*
Dashboard

Styleguide 3.3
*/
#dashboard {
  min-width: 420px;
  width: 420px;
  padding-top: 35px;
}
#dashboard .diamond {
  margin: 20px;
}
@media only screen and (max-width: 599px) {
  #dashboard {
    min-width: 0px;
    width: auto;
    padding-top: 8px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  #dashboard {
    min-width: 0px;
    width: auto;
    padding-top: 0;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  #dashboard {
    min-width: 420px;
    width: 420px;
    padding-top: 25px;
  }
}
