/*
Theme colors

Color variables and main applications

Styleguide 4
*/

/*
Body

Colors:
background:  #fafafa    - Main background color
text:        #222222    - Main text color
fill:        #222222    - Main fill color

Styleguide 4.1
*/
body,
.body--background {
  background-color: var(--background, #fafafa);
  color: var(--black, #222);
  fill: var(--black, #222);
}

/*
Badge

Markup: <span class="badge {{modifier_class}}"></span>

.badge--purple - Purple color

Styleguide 4.2
*/
.badge {
  background-color: var(--light-gray, #ececec);
}
.badge--purple {
  background-color: var(--purple, purple);
}

/*
Diamonds

Styleguide 4.3
*/
button.diamond {
  padding: 0;
  border: none;
}
.diamond {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
.diamond > svg {
  transition: transform 0.2s ease-in-out;
}
/*
Diamond behavior

Hover and click styles.

.active  - Active button state.
:hover   - Hover to change style.
:focus   - On click style.
:active  - Active clicked.
:disabled  - Active clicked.

Markup:
<div class="mini-diamond__wrapper">
  <div class="mini-diamond diamond"></div>
</div>

Styleguide 4.3.1
*/
.diamond:hover {
  box-shadow: 0 7px 9px -4px rgba(0,0,0,.2),
              0 14px 21px 2px rgba(0,0,0,.14),
              0 5px 26px 4px rgba(0,0,0,.12);
  background-color: var(--light-black);
  transform: rotate(0deg);
  color: var(--amber, #ffc107);
  fill: var(--amber, #ffc107);
  border: 2px solid var(--amber, #ffc107);
}
.diamond:focus {
  background-color: var(--light-black);
  color: var(--amber, #ffc107);
  transform: rotate(0deg);
  outline: none;
  fill: var(--amber, #ffc107);
  border: 2px solid var(--yellow, #ffc107);
}
.diamond:active,
.diamond.active {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);
  background-color: var(--black);
  transform: rotate(0deg);
  color: var(--yellow, #ffc107);
  fill: var(--yellow, #ffc107);
  border: 2px solid var(--yellow, #ffc107);
}
.diamond:visited {
  outline: none;
}
.diamond:disabled {
  cursor: default;
  background-color: var(--dark-gray);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);
  transform: rotate(0deg);
  color: var(--light-black, #222);
  fill: var(--light-black, #222);
  border: none;
}
.diamond:hover > svg,
.diamond:focus > svg,
.diamond:disabled > svg,
.diamond.active > svg,
.diamond:active > svg {
  transform: rotate(0);
}
/** Dark diamond theme*/
.diamond--dark {
  background-color: var(--black, #222);
  color: white;
}
/*
Great diamond

.diamond--dark - Dark diamond theme

Markup:
<div class="great-diamond__wrapper">
  <div class="great-diamond {{modifier_class}}"></div>
</div>

Styleguide 4.3.2
*/
.great-diamond {
  background-color: white;
  color: var(--black, #222);
}

/*
Mini diamond

.diamond--dark - Dark theme

Markup:
<div class="mini-diamond__wrapper">
  <div class="mini-diamond {{modifier_class}}"></div>
</div>

Styleguide 4.3.3
*/
.mini-diamond {
  /* background-color: var(--light-gray, #eeeeee); */
  background-color: var(--gray, #eeeeee);
  color: var(--black, #222);
  box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),
              0 7px 10px 1px rgba(0,0,0,.14),
              0 2px 16px 1px rgba(0,0,0,.12);
  transition: all 0.2s ease-in-out;
}

/*
Headline

Markup:
<div class="headline stay--on-light">
  <h1>Rafael Goulart</h1>
  <h2>@faelplg</h2>
</div>

Styleguide 4.4
*/
.headline {
  color: white;
  fill: white;
}
@media only screen and (max-width: 1199px) {
  .headline {
    color: var(--black, #222222);
    fill: var(--black, #222222);
  }
}
.headline > h3 {
  color: var(--black, #222222);
  fill: var(--black, #222222);
}

/*
Feed boxes

Styleguide 4.5
*/
.feed-box {
  background-color: var(--light-gray);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);
}
/* @media only screen and (max-width: 1199px) {
  .feed-box {
  }
} */

/*
Color backgrounds

Markup:
<div class="headline stay--on-light">
  <h2>.stay--on-light.</h2>
  <p>Set dark color for light backgrounds.</p>
</div>

Styleguide 4.99
*/
.b--amber {
  background-color: var(--amber);
  color: var(--black, #222222);
  fill: var(--black, #222222);
}

/*
Last color styles

Markup:
<div class="headline stay--on-light">
  <h2>.stay--on-light.</h2>
  <p>Set dark color for light backgrounds.</p>
</div>

Styleguide 4.99
*/
.stay--on-light {
  color: var(--black, #222222);
  fill: var(--black, #222222);
}
