/*
Theme colors

Color variables and main applications

Styleguide 2.1
*/

/*
Palette

Colors:
--black:        #222222    - Black color.
--light-black:  #666666    - Light black color.
--dark-gray:    #9e9e9e    - Dark gray color.
--gray:         #cccccc    - Gray color.
--light-gray:   #eeeeee    - Light gray color.
--yellow:       #fff350    - Main background color.
--amber:        #ffc107    - Amber color.
--pink:         pink       - Pink color.
--red:          red        - Red color.
--blue:         blue       - Blue color.
--purple:       purple     - Purple color.
--dark-blue:    #122c45    - Dark blue color.

Styleguide 2.1.1
*/
:root {
  --amber: #ffc107;
  --background: #fafafa;
  --black: #222222;
  --blue: blue;
  --dark-blue: #122c45;
  --dark-gray: #d1d1d1;
  --gray: #cccccc;
  --light-black: #666666;
  --light-gray: #eeeeee;
  --pink: pink;
  --purple: purple;
  --red: red;
  --yellow: #fff350;
}

/*
Body

Colors:
background:  #fafafa    - Main background color
text:        #222222    - Main text color
fill:        #222222    - Main fill color

Styleguide 2.1.2
*/
body,
.body--background {
  background-color: var(--background, #fafafa);
  color: var(--black, #222);
  fill: var(--black, #222);
}

/*
Badge

Markup: <span class="badge {{modifier_class}}"></span>

.badge--black - Black badge.
.badge--light-black - Light black badge.
.badge--dark-gray - Dark gray badge.
.badge--gray - Gray badge.
.badge--light-gray - Light gray badge.
.badge--yellow - Yellow badge.
.badge--amber - Amber badge.
.badge--pink - Pink badge.
.badge--red - Red badge.
.badge--blue - Blue badge.
.badge--purple - Purple badge.
.badge--dark-blue - Dark blue badge.

Styleguide 2.1.3
*/
.badge {
  background-color: var(--light-gray, #ececec);
}
.badge--amber {
  background-color: #ffc107;
}
.badge--background {
  background-color: #fafafa;
}
.badge--black {
  background-color: #222222;
}
.badge--blue {
  background-color: blue;
}
.badge--dark-blue {
  background-color: #122c45;
}
.badge--dark-gray {
  background-color: #d1d1d1;
}
.badge--gray {
  background-color: #cccccc;
}
.badge--light-black {
  background-color: #666666;
}
.badge--light-gray {
  background-color: #eeeeee;
}
.badge--pink {
  background-color: pink;
}
.badge--purple {
  background-color: purple;
}
.badge--red {
  background-color: red;
}
.badge--yellow {
  background-color: #fff350;
}
.badge--purple {
  background-color: var(--purple, purple);
}

/*
Diamonds

The diamonds are the main elements of the portfolio.
They represent the main links for social networks and online tools for developers.
Besides this, the diamond is the shape of the profile picture.

.new-diamond--large  - Large diamond color.

Markup:
<div class="new-diamond {{modifier_class}}">
  <div class="new-diamond__shape"></div>
</div>

Styleguide 2.1.4
*/
.new-diamond__shape {
  /* background-color: var(--light-gray, #eeeeee); */
  background-color: var(--gray, #eeeeee);
  color: var(--black, #222);
  box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),
              0 7px 10px 1px rgba(0,0,0,.14),
              0 2px 16px 1px rgba(0,0,0,.12);
  transition: all 0.2s ease-in-out;
}
.new-diamond.new-diamond--large > .new-diamond__shape {
  background-color: white;
}

/*
Diamond button

.new-diamond--primary  - Primary theme.
.new-diamond--dark     - Dark theme.

Markup:
<button class="new-diamond {{modifier_class}}">
  <div class="new-diamond__shape"></div>
</button>

Styleguide 2.1.4.1
*/
button.new-diamond {
  outline: none;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

/** Primary theme */
button.new-diamond.new-diamond--primary > .new-diamond__shape {
  background-color: var(--amber, #ffc107);
  color: var(--black, #222);
  fill: var(--black, #222);
}
/** Dark theme*/
button.new-diamond.new-diamond--dark > .new-diamond__shape {
  background-color: var(--black, #222);
  color: white;
  fill: white;
}

/** Button behavior */
button.new-diamond:not(:disabled):hover > .new-diamond__shape {
  box-shadow: 0 7px 9px -4px rgba(0,0,0,.2),
              0 14px 21px 2px rgba(0,0,0,.14),
              0 5px 26px 4px rgba(0,0,0,.12);
  background-color: var(--light-black);
  color: var(--amber, #ffc107);
  fill: var(--amber, #ffc107);
  border-color: var(--amber, #ffc107);
}
button.new-diamond:not(:disabled):focus > .new-diamond__shape {
  background-color: var(--light-black, #666);
  color: var(--amber, #ffc107);
  outline: none;
  fill: var(--amber, #ffc107);
  border-color: var(--yellow, #ffc107);
}
button.new-diamond:not(:disabled):active > .new-diamond__shape,
button.new-diamond:not(:disabled).active > .new-diamond__shape {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);
  background-color: var(--black, #222);
  color: var(--yellow, #ffc107);
  fill: var(--yellow, #ffc107);
  border-color: var(--yellow, #ffc107);
}
button.new-diamond:not(:disabled):visited > .new-diamond__shape {
  outline: none;
}
button.new-diamond:disabled > .new-diamond__shape {
  background-color: var(--amber, #ffc107);
  /* background-color: var(--light-gray, #d1d1d1); */
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);
  color: var(--light-gray, #666);
  fill: var(--light-gray, #666);
  border: none;
}

/*
Headline

.stay--on-light  - Force text to stay visible on light backgrounds.

Markup:
<div class="headline {{modifier_class}}">
  <h1>Rafael Goulart</h1>
  <h2>@faelplg</h2>
  <h3>Front End SW Engineer</h2>
</div>

Styleguide 2.1.5
*/
.headline {
  color: white;
  fill: white;
}
@media only screen and (max-width: 1199px) {
  .headline {
    color: var(--black, #222222);
    fill: var(--black, #222222);
  }
}
.headline > h3 {
  color: var(--black, #222222);
  fill: var(--black, #222222);
}

/*
Feed boxes

Styleguide 2.1.6
*/
.feed-box {
  background-color: var(--light-gray);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
              0 1px 1px 0 rgba(0,0,0,.14),
              0 1px 3px 0 rgba(0,0,0,.12);
}
/* @media only screen and (max-width: 1199px) {
  .feed-box {
  }
} */

/*
Color backgrounds

Markup:
<div class="headline stay--on-light">
  <h2>.stay--on-light.</h2>
  <p>Set dark color for light backgrounds.</p>
</div>

Styleguide 2.1.88
*/
.b--amber {
  background-color: var(--amber);
  color: var(--black, #222222);
  fill: var(--black, #222222);
}

/*
Last color styles

Markup:
<div class="headline stay--on-light">
  <h2>.stay--on-light.</h2>
  <p>Set dark color for light backgrounds.</p>
</div>

Styleguide 2.1.99
*/
.stay--on-light {
  color: var(--black, #222222);
  fill: var(--black, #222222);
}
