/*
Theme elements

Color variables and main applications

Styleguide 2.3
*/
@import './elements/dividers.css';
@import './elements/badge.css';
@import './elements/cover.css';

/*
Diamonds

The diamonds are the main elements of the portfolio.
They represent the main links for social networks and online tools for developers.
Besides this, the diamond is the shape of the profile picture.

.new-diamond--large  - Large size of the diamond.

Markup:
<div class="new-diamond {{modifier_class}}">
  <div class="new-diamond__shape"></div>
</div>

Styleguide 2.3.4
*/
.new-diamond {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: transparent;
  height: 130px;
  width: 130px;
  /* border: 1px solid red; */
  z-index: 5;
}
.new-diamond__shape {
  display: flex;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  margin: 0;
  transform: rotate(-45deg);
  z-index: 6;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  /* -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}
.new-diamond__shape > svg {
  transform: rotate(45deg);
}
@media only screen and (max-width: 599px) {
  .new-diamond {
    height: 195px;
    width: 195px;
  }
  .new-diamond__shape {
    height: 130px;
    width: 130px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1279px) {
  .new-diamond {
    height: 160px;
    width: 160px;
  }
  .new-diamond__shape {
    height: 100px;
    width: 100px;
  }
}
/** Large diamond */
.new-diamond--large {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: transparent;
  height: 250px;
  width: 250px;
  margin: 16px;
  z-index: 7;
}
.new-diamond.new-diamond--large > .new-diamond__shape {
  display: flex;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 175px;
  width: 175px;
  margin: 0;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),
              0 24px 38px 3px rgba(0,0,0,.14),
              0 9px 46px 8px rgba(0,0,0,.12);
  transform: rotate(-45deg);
  z-index: 6;
}
@media only screen and (max-width: 1279px) {
  .new-diamond.new-diamond--large {
    height: 195px;
    width: 195px;
    margin: 0;
  }
  .new-diamond.new-diamond--large > .new-diamond__shape {
    height: 130px;
    width: 130px;
  }
}

/*
Diamond button

<button class="new-diamond">
  <div class="new-diamond__shape"></div>
</button>

Styleguide 2.3.4.1
*/
button.new-diamond {
  padding: 0;
  border: none;
  cursor: pointer;
}
button.new-diamond > svg {
  transition: transform 0.2s ease-in-out;
}
button.new-diamond:not(:disabled):hover > .new-diamond__shape {
  /* transform: rotate(0deg); */
  border-style: solid;
  border-width: 2px;
}
button.new-diamond:not(:disabled):focus > .new-diamond__shape {
  /* transform: rotate(0deg); */
  border-style: solid;
  border-width: 2px;
}
button.new-diamond:not(:disabled):active > .new-diamond__shape,
button.new-diamond:not(:disabled).active > .new-diamond__shape {
  /* transform: rotate(0deg); */
  border-style: solid;
  border-width: 2px;
}
button.new-diamond:disabled {
  z-index: 0;
}
button.new-diamond:disabled > .new-diamond__shape {
  cursor: default;
  /* transform: rotate(0deg); */
}

/*
Profile picture

Profile picture shape.

Styleguide 2.3.4.2
*/
img.profile-picture {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 225px;
  transform: rotate(45deg);
  z-index: 5;
}
@media only screen and (max-width: 1279px) {
  img.profile-picture {
    height: 170px;
  }
}

/*
Headline

Markup:
<div class="headline stay--on-light">
  <h1>Rafael Goulart</h1>
  <h2>@faelplg</h2>
  <h3>Front End SW Engineer</h2>
</div>

Styleguide 2.3.5
*/
@media only screen and (max-width: 599px) {
  .headline {
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .headline {
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  .headline {
    align-items: start;
    justify-content: start;
  }
}

/*
List

Markup:
<ul class="list list--single">
  <li><h3>Front End Engineer</h3></li>
  <li><h3>Web Application Architect</h3></li>
  <li><h3>CTO at <a href="https://www.residuall.com/" target="_blank" aria-label="Residuall website" title="Residuall website.">Residuall</a></h3></li>
</ul>

Styleguide 2.3.6
*/
ul.list > li {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 8px 0;
}
ul.list > li > span {
  margin-right: 8px;
}
