/*
Theme elements

Color variables and main applications

Styleguide 2.3
*/

/*
Horizontal rule

Theme divider.

Markup: <hr>

Styleguide 2.3.1
*/
hr {
  border-top-style: double;
  border-top-width: 5px;
}

/*
Badge

* align-items: center;
* border-radius: 18px;
* display: flex;
* flex-flow: row;
* font-size: 20px;
* height: 40px;
* justify-content: center;
* margin: 4px;
* width: 100px;

Markup: <span class="badge" style="background-color:lightgrey"></span>

Styleguide 2.3.2
*/
.badge {
  align-items: center;
  border-radius: 18px;
  display: flex;
  flex-flow: row;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  margin: 4px;
  width: 100px;
}

/*
Profile cover

* **cover_img:** Great Observatories Unique Views of the Milky Way. Credit to JPL, NASA/JPL-Caltech/ESA/CXC/STScI NASA/JPL-Caltech. [Image URL](https://images.nasa.gov/details-PIA12348.html).
* **cover_img_01:** Jupiter Great Red Spot. Credit to JPL, NASA/JPL. [Image URL](https://images.nasa.gov/details-PIA01384.html).
* **cover_img_02:** A Cauldron of Stars at the Galaxy Center. Credit to JPL, NASA/JPL-Caltech. [Image URL](https://images.nasa.gov/details-PIA03654.html).
* **cover_img_03:** History of Hubble Space Telescope (HST). Credit to MSFC. [Image URL](https://images.nasa.gov/details-0302063.html).
* **cover_img_04:** Comets Kick up Dust in Helix Nebula. Credit to JPL, NASA/JPL-Caltech/Univ.of Ariz. [Image URL](https://images.nasa.gov/details-PIA09178.html).

Styleguide 2.3.3
*/
#profile-cover {
  background: url('./assets/cover_img_04.jpg') center center no-repeat;
  background-size: cover;
}
#profile-cover--mask {
  color: #FAFAFA;
  height: 300px;
  /** Gradient - bottom */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
}
/** Gradient - top */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.95+0,0+100 */
/* @media only screen and (max-width: 1199px) {
  #profile-cover--mask {
    align-items: flex-start;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#00000000',GradientType=0 );
    height: 200px;
  }
} */

/*
Profile header

#profile-header - Profile header with picture, headline and status.

Styleguide 2.3.4
*/
#profile-header {
  display: flex;
  flex-flow: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: -133px;
}
@media only screen and (max-width: 1199px) {
  #profile-header {
    flex-flow: column;
    align-items: center;
    margin-top: -107px;
  }
}

/*
Diamonds

* .diamond__wrapper: Wrapper for clearfix.
* .great-diamond: Big diamond shaped div.
* .mini-diamond: Small diamond shaped div.

Styleguide 2.3.5
*/
/*
Active diamonds

Styleguide 2.3.5.1
*/
button.diamond {
  padding: 0;
  border: none;
}
.diamond {
  cursor: pointer;
}
#profile-diamonds {
  margin-left: 50px;
}
@media only screen and (max-width: 1199px) {
  #profile-diamonds {
    margin-left: 0;
  }
}

/*
Great diamonds

* '.great-diamond__wrapper': Normalize used space.
* '.great-diamond': Big diamonds.

Markup:
<div class="great-diamond__wrapper">
  <div class="great-diamond"></div>
</div>

Styleguide 2.3.5.2
*/
.great-diamond__wrapper {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: transparent;
  height: 250px;
  width: 250px;
  z-index: 7;
}
.great-diamond {
  display: flex;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 175px;
  width: 175px;
  margin: 0;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  transform: rotate(-45deg);
  z-index: 6;
}
@media only screen and (max-width: 1199px) {
  .great-diamond__wrapper {
    height: 195px;
    width: 195px;
  }
  .great-diamond {
    height: 130px;
    width: 130px;
  }
}

/*
Mini diamonds

* '.mini-diamond__wrapper': Normalize used space.
* '.mini-diamond': Small diamonds.

Markup:
<div class="mini-diamond__wrapper">
  <div class="mini-diamond"></div>
</div>

Styleguide 2.3.5.3
*/
.mini-diamond__wrapper {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: transparent;
  height: 150px;
  width: 150px;
  /* border: 1px solid red; */
  z-index: 5;
}
.mini-diamond {
  display: flex;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  margin: 0;
  transform: rotate(-45deg);
  z-index: 6;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  /* -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}
.mini-diamond > svg {
  transform: rotate(45deg);
}
@media only screen and (max-width: 599px) {
  .mini-diamond__wrapper {
    height: 225px;
    width: 225px;
  }
  .mini-diamond {
    height: 150px;
    width: 150px;
  }
}

/*
Profile picture

Profile picture shape.

Styleguide 2.3.5.4
*/
.profile-picture {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 225px;
  transform: rotate(45deg);
  z-index: 5;
}
@media only screen and (max-width: 1199px) {
  .profile-picture {
    height: 170px;
  }
}

/*
Headline

Markup:
<div class="headline stay--on-light">
  <h1>Rafael Goulart</h1>
  <h2>@faelplg</h2>
</div>

Styleguide 2.3.6
*/
.headline {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}
@media only screen and (max-width: 1199px) {
  .headline {
    align-items: center;
    justify-content: center;
  }
  .headline > h3 {
    margin-top: 16px;
  }
}
#profile-headline {
  margin: 0 8px 43px 8px;
}
@media only screen and (max-width: 1199px) {
  #profile-headline {
    margin: 0;
  }
}

/*
Profile status

Markup:
<div style="display:flex;flex-flow:row;align-items:Center;justify-content:flex-end;">
  <span class="badge">110</span>
  <span class="badge">110</span>
</div>

Styleguide 2.3.7
*/
#profile-status {
  /* align-self: flex-end; */
  margin-top: 64px;
}

/*
Profile content

#profile-content - Profile content.

Styleguide 2.3.8
*/
 #profile-content {
   display: flex;
   flex-flow: row;
 }
@media only screen and (max-width: 1199px) {
  #profile-content {
    flex-flow: column;
    margin-top: 8px;
    align-items: center;
  }
}
/*
Link container

#link-container - Link container.

Styleguide 2.3.8.1
*/
 #link-container {
   min-width: 360px;
   margin-top: -100px;
 }
@media only screen and (max-width: 1199px) {
  #link-container {
    margin-top: 0;
    min-width: 240px;
    max-width: 280px;
  }
}

/*
Bio

Styleguide 2.3.9
*/
/*
Bio container

#bio-container  - Feed container.

Styleguide 2.3.9.1
*/
#bio-container {
  margin-top: -56px;
}
@media only screen and (max-width: 1199px) {
  #bio-container {
    margin-top: -16px;
  }
}
/*
Bio boxes

.bio-box  - Feed box.

Styleguide 2.3.9.2
*/
.bio-box {
  min-width: 280px;
  max-width: 380px;
}
@media only screen and (max-width: 1199px) {
  .bio-box {
    min-width: 0;
    max-width: 100%;
  }
}
/*
Feed

Styleguide 2.3.10
*/
/*
Feed container

#feed-container  - Feed container.

Styleguide 2.3.10.1
*/
#feed-container {
  margin-top: -64px;
}
@media only screen and (max-width: 1199px) {
  #feed-container {
    margin-top: -16px;
    width: 100%;
  }
}
/*
Feed boxes

.feed-box  - Feed box.

Styleguide 2.3.10.2
*/
.feed-box {
  margin: 4px 4px 8px;
}
/* @media only screen and (max-width: 1199px) {
  .feed-box {
    width: 100%;
  }
} */
