/*
Theme elements

Color variables and main applications

Styleguide 5
*/

/*
Horizontal rule

Theme divider.

Markup: <hr>

Styleguide 5.1
*/
hr {
  border-top: 5px solid #999;
}

/*
Badge

* `align-items: center;` Property
* `border-radius: 18px;` Property
* `display: flex;` Property
* `flex-flow: row;` Property
* `font-size: 20px;` Property
* `height: 40px;` Property
* `justify-content: center;` Property
* `margin: 4px;` Property
* `width: 100px;` Property

Markup: <span class="badge"></span>

Styleguide 5.2
*/
.badge {
  align-items: center;
  border-radius: 18px;
  display: flex;
  flex-flow: row;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  margin: 4px;
  width: 100px;
}

/*
Profile cover

#profile-cover - Profile cover image.

Styleguide 5.3
*/
#profile-cover {
  background: url('./assets/cover_img_01.jpg') center center no-repeat;
  background-size: cover;
}
#profile-cover__container {
  color: #FAFAFA;
  height: 300px;
  /** Gradient - bottom */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.95) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f2000000',GradientType=0 ); /* IE6-9 */
}
@media only screen and (max-width: 767px) {
  #profile-cover__container {
    align-items: flex-start;
    /** Gradient - top */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.95+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.95) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    height: 200px;
  }
}

/*
Profile picture

#profile-picture - Profile picture image and styles.

Styleguide 5.4
*/
#profile-picture {
  margin-top: -102px;
  display: flex;
  flex-flow: row;
}
@media only screen and (max-width: 767px) {
  #profile-picture {
    flex-flow: column;
    margin-top: -70px;
    align-items: center;
  }
}
#profile-picture__container {
  flex: initial;
  padding: 0 32px;
}

/*
Profile diamond

Profile diamond shape and animation.

Markup: <div id="profile-diamond"></div>

Styleguide 5.5
*/
#profile-diamond {
  align-items: center;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
  display: flex;
  flex-flow: row;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  height: 200px;
  justify-content: center;
  width: 200px;
  z-index: 7;
  transform: rotate(-45deg);
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  /* -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}
@media only screen and (max-width: 767px) {
  #profile-diamond {
    height: 140px;
    width: 140px;
  }
}
#profile-diamond__photo {
  -webkit-box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
  box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 250px;
  transform: rotate(45deg);
  z-index: 5;
}
@media only screen and (max-width: 767px) {
  #profile-diamond__photo {
    height: 170px;
  }
}

/*
Profile headline

Markup:
<div id="profile-headline">
  <div class="container">
    <h1 id="profile-name" class="font-family--noto-serif" style="color:#222">Rafael Goulart</h1>
    <h2 id="profile-username" class="font-family--noto-serif" style="color:#222">@faelplg</h2>
  </div>
</div>

Styleguide 5.6
*/
#profile-headline {
  margin-top: -16px;
}
@media only screen and (max-width: 767px) {
  #profile-headline {
    margin-top: 24px;
  }
}
#profile-name {
  color: white;
  fill: white;
}
#profile-username {
  color: white;
  fill: white;
}
@media only screen and (max-width: 767px) {
  #profile-name {
    color: var(--black, #222222);
    fill: var(--black, #222222);
  }
  #profile-username {
    color: var(--black, #222222);
    fill: var(--black, #222222);
    /* margin: 0 16px; */
    /* text-align: center; */
  }
}

/*
Profile content

#profile-content - Profile content.

Styleguide 5.7
*/
 #profile-content {
   margin-top: 42px;
 }
@media only screen and (max-width: 767px) {
  #profile-content {
    margin-top: 8px;
  }
}


/*
Mini diamonds

.mini-diamond - Mini diamonds from template.

Styleguide 5.8
*/
.mini-diamond {
  align-items: center;
  /* background-color: var(--light-gray, #222); */
  background-color: white;
  box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
  display: flex;
  flex-flow: row;
  -ms-flex-flow: row;
  -webkit-flex-flow: row;
  height: 120px;
  justify-content: center;
  margin-top: 42px;
  transform: rotate(-45deg);
  z-index: 5;
  width: 120px;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
  /* -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}
@media only screen and (max-width: 767px) {
  .mini-diamond {
    height: 90px;
    width: 90px;
    margin-top: 25px;
  }
}
.diamond--left {
  margin-left: -64px;
}
.diamond--right {
  margin-right: -64px;
}
@media only screen and (max-width: 767px) {
  .diamond--left {
    margin-left: -48px;
  }
  .diamond--right {
    margin-right: -48px;
  }
}

/*
Another mini diamonds

.diamond - Mini diamonds from another solution.

Styleguide 5.9
*/
/* .diamond {
  width: 0;
  height: 0;
  border: 65px solid transparent;
  border-bottom-color: var(--gray, #666);
  position: relative;
  top: -121px;
  box-shadow: 0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
}
.diamond:after {
  box-shadow: 0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
  content: '';
  position: absolute;
  left: -65px;
  top: 65px;
  width: 0;
  height: 0;
  border: 65px solid transparent;
  border-top-color: var(--gray, #666);
}
@media only screen and (max-width: 767px) {
  .diamond {
    width: 0;
    height: 0;
    border: 51px solid transparent;
    border-bottom-color: var(--gray, #666);
    position: relative;
    top: -70px;
  }
  .diamond:after {
    content: '';
    position: absolute;
    left: -51px;
    top: 51px;
    width: 0;
    height: 0;
    border: 51px solid transparent;
    border-top-color: var(--gray, #666);
  }
} */
