@import './typography/fonts.css';
@import './typography/typography.css';
@import './layouts/structure.css';

.badge {
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 18px;
  display: flex;
  flex-flow: row;
  font-size: 20px;
  height: 40px;
  justify-content: center;
  margin: 4px;
  width: 100px;
}
