@import url('https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Kreon|Libre+Baskerville');
body {
  font-family: 'Libre Baskerville', serif;
}

h1, h2 {
  font-family: 'Kreon', serif;
}
h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 1.6em;
}
p {
  text-align: left;
  margin: 8px 0;
}
@media only screen and (max-width: 1279px) {
  p {
    text-align: left;
  }
}
small {
  font-size: 14px;
}


.text-align--center {
  text-align: center;
}
.text-align--justify {
  text-align: center;
}
