/*
Theme variables

All theme variables

Styleguide 3
*/

/*
Palette

Colors:
--black:        #222222    - Black color.
--light-black:  #666666    - Light black color.
--dark-gray:    #9e9e9e    - Dark gray color.
--gray:         #cccccc    - Gray color.
--light-gray:   #eeeeee    - Light gray color.
--background:   #fafafa    - Background color.
--yellow:       #fff350    - Main background color.
--amber:        #ffc107    - Amber color.
--pink:         pink       - Pink color.
--red:          red        - Red color.
--blue:         blue       - Blue color.
--purple:       purple     - Purple color.
--dark-blue:    #122c45    - Dark blue color.

Styleguide 3.1
*/
:root {
  --amber: #ffc107;
  --background: #fafafa;
  --black: #222222;
  --blue: blue;
  --dark-blue: #122c45;
  --dark-gray: #d1d1d1;
  --gray: #cccccc;
  --light-black: #666666;
  --light-gray: #eeeeee;
  --pink: pink;
  --purple: purple;
  --red: red;
  --yellow: #fff350;
}
