/*
Header

Dashboard with the links and user header informations.

Styleguide 3.4
*/
/* #header {
  margin-top: -166px;
}
@media only screen and (max-width: 599px) {
  #header {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
  #header {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1279px) {
  #header {
    margin-top: -105px;
  }
} */
